<h1>Example App: Home</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, rem, similique, sequi illo nostrum at facilis laborum alias fuga vel aliquam nam quod. Dolores nihil ratione neque deserunt adipisci fugiat?
</p>